<main>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="path">
        <path d="M -5 0 L 500 0 L 400 338 L -5 336" style="stroke: none; fill: #951f05;">

        </path>

    </svg>
    <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
        <div class="section">
            <app-first-section></app-first-section>
        </div>
        <div class="containerSkill section">
            <app-skills></app-skills>
        </div>
        <div class="containerSkill section">
            <app-experiencia></app-experiencia>
        </div>
    </div>
</main>