<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="buttonsNav">
            <a class="aButton" href="#firstPage">Home</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="buttonsNav">
                    <a class="nav-link aButton" aria-current="page" href="#secondPage">Skill</a>
                </div>
                <div class="buttonsNav">
                    <a class="nav-link aButton " aria-current="page" href="#thirdPage">Porfolio</a>
                </div>
                <div class="buttonsNav">
                    <a class="nav-link aButton " aria-current="page" href="#">about me</a>
                </div>

            </div>
        </div>
    </div>
</nav>